{% extends "base/base.html"%}

{% block start %}

<div class="container">



    <div class="card">
        <div class="card-body d-flex">
            <div class="form-inline d-inline-flex mr-auto">
                <labe>Категория  <select class="ml-2 form-control">
                    <option>Диабет</option>
                    <option>Зрение</option>
                    <option>Медецинские приборы</option>
                    <option>Похудение</option>
                </select>
            </labe></div>
          
        </div>
  
        </div>
        <div class="card-body d-flex">
        <div class="_3HvKj _1Mgl7 _3HvKj _1q504" data-tid="9459b458"><h2 data-tid="5170483e e096820d 8f5dca10" data-tid-prop="5170483e e096820d 8f5dca10" class="D7c4V ZsaCc _2pkLA">Что вас беспокоит?<!-- --> </h2></div>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <a href = '/'><img class="logo" style="margin-left: 20px;" src="https://cdn-icons-png.flaticon.com/128/5730/5730318.png" width="70" height="70" alt="Голова" ></a>
                <h6>Головная боль</h6>
              </div>
              <div class="col-sm">
                <a href = '/'><img class="logo" style="margin-left: 10px;" src="https://cdn-icons-png.flaticon.com/128/8298/8298600.png" width="70" height="70" alt="Нос и горло"></a>
                <h6>Нос и горло</h6>
              </div>
              <div class="col-sm">
                <a href = '/'><img class="logo" style="margin-left: 8px;" src="https://cdn-icons-png.flaticon.com/128/3343/3343352.png" width="70" height="70" alt="Мышцы и суставы"></a>
                <h6>Мышцы и суставы</h6>
              </div>
              <div class="col-sm">
                <a href = '/'><img class="logo" style="margin-left: 0 px;" src="https://cdn-icons-png.flaticon.com/128/4994/4994039.png" width="70" height="70" alt="Сердце и сосуды"></a>
                <h6>Сердце и сосуды</h6>
              </div>
              <div class="col-sm">
                <a href = '/'><img class="logo" style="margin-left: 0 px;" src="https://cdn-icons-png.flaticon.com/128/2491/2491314.png" width="70" height="70" alt="Нервная система"></a>
                <h6>Нервная система</h6>
              </div>
              <div class="col-sm">
                <a href = '/'><img class="logo" style="margin-left: 15px;" src="https://cdn-icons-png.flaticon.com/128/139/139319.png" width="70" height="70" alt="Глаза и уши"></a>
                <h6>Глаза и уши</h6>
              </div>
            </div>
          </div>
        </div> 
        <div class=" mt-0 pt-0">
            <div class="row">

                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">ТОП товаров</h5>
                            <ul class="list-menu">
                                <li><a href="#">Пантенол <span class="badge badge-pill badge-light float-right">120</span> </a></li>
                                <li><a href="#">Афобазол <span class="badge badge-pill badge-light float-right">42</span> </a></li>
                                <li><a href="#">Глицин <span class="badge badge-pill badge-light float-right">16</span> </a></li>
                                <li><a href="#">Смекта <span class="badge badge-pill badge-light float-right">87</span> </a></li>
                                <li><a href="#">Эвалар <span class="badge badge-pill badge-light float-right">34</span></a></li>
                                <li><a href="#">Грация <span class="badge badge-pill badge-light float-right">7</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Оценка</h5>
                        
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              </div>
                            </label>
                    
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> 
                              </div>
                            </label>
                    
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                              </div>
                            </label>
                    
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                              
                              </div>
                            </label>
                    
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                    <div class="popmechanic-content">
                        <div class="popmechanic-group">
                            <div class="popmechanic-title">
                                <h6>Cкидка&nbsp;10% </h6>На&nbsp;первый&nbsp;заказ!
                            </div>
                            
                            <div class="popmechanic-box">
                                <span>Введите промокод</span><br/>
                                <h3><a href="/" class="popmechanic-button" name="button" data-popmechanic-submit="">
                                    ПервыйРаз
                                </a></h3>
                            </div>
                        </div>
                        <div class="popmechanic-app">
                            <img class="popmechanic-img" src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/775945c1-9699-4929-931a-01707a541851/Protek_Protek/Group%205039%20%281%29.png" width="100" height="100" alt="">
                            <div class="popmechanic-text">Наведите камеру на QR-код, <br>чтобы узнать о других акциях!</div>
                        </div>
                         <div class="popmechanic-subtitle"><a href="https://zdravcity.ru/promo/skidka-10-v-prilozhenii-vesna/" target="_blank" style="color: #ffffff; text-decoration: underline">Условия акции</a></div>
            
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-md-9">
                        <div class="row">
                                    {% for product in products %}
                                    <div class="col-md-3">
                                        <figure class="card card-product-grid">
                                            <div class="img-wrap"> <img src="/media/{{product.product_images.first.image}}"> </div>
                                            <figcaption class="info-wrap border-top">
                                                <a href="{% url 'get_product' product.slug %}" class="title">
                                                    
                                                    <b>{{product.product_name}} 
                                                        <div class="text-warning"> 
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        </div>
                                                    </b></a>
                                                <div class="price mt-2">{{product.price}}₽</div> <!-- price-wrap.// -->
                                                                                     
                                                <div class="price mt-3">{{product.product_description|truncatechars_html:25}}</div>
                                                 
                                            </figcaption>
                                        </figure>
                                         <!-- card // -->
                                    </div> <!-- col.// -->
                                    {% endfor %}
                                    
                                </div>
                 <!-- card // -->
                </div> <!-- col.// -->
                
            </div>
        </div>
            </div>
    
            </div>


    </div>


</div>



{% endblock %}