{% extends "base/base.html"%}

{% block start %}

<section class="p-4 p-md-4" style="
background-image: url(https://catherineasquithgallery.com/uploads/posts/2023-02/1676593307_catherineasquithgallery-com-p-fon-svetlii-zeleno-goluboi-39.jpg);
">
<div class="row d-flex justify-content-center">
<div class="col-md-10 col-lg-8 col-xl-5">
  <div class="card rounded-3">
    <div class="card-body p-4">
      <div class="text-center mb-4">
        <h3>Доставка наших товаров осуществляется по Москве и Московской области!</h3>
      </div>
      <form action="">
        <p class="fw-bold mb-6 pb-0">О принципах нашей доставки:</p>           <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/2203/2203124.png" width="70" height="70"/>

        <div class="d-flex flex-row align-items-center mb-4 pb-1">
          <div class="flex-fill mx-3">
            <div class="form-outline">
                <ol>
                    <li>SMS С ТЕЛЕФОНОМ КУРЬЕРА В ДЕНЬ ДОСТАВКИ</li>
                    <li>БЕРЕЖНАЯ
                      ТРАНСПОРТИРОВКА
                      В НАДЛЕЖАЩИХ УСЛОВИЯХ</li>
                    <li>ЗВОНОК КУРЬЕРА
                      ПЕРЕД
                      ДОСТАВКОЙ</li>
                      <li>ДОСТАВКА
                        В УДОБНЫЙ
                        ИНТЕРВАЛ ВРЕМЕНИ</li>


                </ol>

            </div>
          </div>
        
        </div>

        
  </div>
</div>
</div>


</div>





{% endblock %}